@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.slider {
  img {
    width: 100%;
    object-fit: cover;

    @include respond-below(lg) {
      height: 100%;
    }
  }
}

.sliderItem {
  overflow-y: hidden;

  @include respond-below(lg) {
    height: 70vh;
  }
  @include respond-above(lg) {
    max-height: 750px;
  }
}

.sliderBackgroundLayer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #04040438;
}