@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.serviceListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    min-height: 2.2rem;
    letter-spacing: 1px;
    font-size: $font-size-base * 1.35;
  }

  p {
    text-align: left;
  }
}

.serviceListItemButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  a {
    width: 80%;
    margin-bottom: $margin-base * .625;

    @include respond-below(lg) {
      width: 50%
    }
    @include respond-below(sm) {
      width: 55%;
    }
  }
}