@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.footer {
  text-align: center;
  padding: ($padding-base * 2) 0;

  .logo-2 {
    a {
      letter-spacing: 2px;
      font-size: $font-size-base * 3;
      font-family: $font-family-montez;

      span {
        color: text-color('primary');
      }
    }
  }
}

.copyRightGrids {
  font-size: $font-size-base * .9;

  span {
    @include respond-below(md) {
      display: block;
    }
  }

  a {
    font-weight: 600;
    color: text-color('primary');

    &:hover {
      color: text-color('dark');
    }
  }
}
