@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #1bdacc;
$secondary: #b5b5b5;

$theme-colors: (
  primary: #1bdacc,
  secondary: #b5b5b5,
);

$font-family-montez: 'Montez', cursive;
$font-family-open-sans: 'Open Sans', sans-serif;