@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.brand {
  padding: 0;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: $font-size-base * 3;
  font-family: $font-family-montez;
  color: text-color('white') !important;
  text-shadow: 1px 1px 2px text-color('dark');

  @include respond-below(sm) {
    font-size: $font-size-base * 2.5;
  }

  &:hover, &:focus {
    color: text-color('white');
  }

  span {
    color: text-color('dark');
  }
}
